body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.alert {
    margin-bottom: 10px;
}

.alert-icon {
    font-size: 24px;
    vertical-align: bottom;
    padding-right: 10px;
}

/* Label Preview CSS */
.label-page {
    margin: 5px;
    padding: 15px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fdfdfd;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.075);
}

.label-page .col-xs-4 {
    padding-right: 5px;
    padding-left: 5px;
}

.student-label {
    cursor: pointer;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 3.5em;
    line-height: 3.5em;
    margin: 2px 0;
    background: #fdfdfd;
    border-radius: 3px;
    border: 1px solid #c1c1c1;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075);
}

.student-label:hover {
    top: 1px;
    background: rgba(0,0,0,0.020);
}

.active-label, active-label:hover {
    background: #ff810010 !important;
    border-color: #ccb296;
}

.added-label, .added-label:hover {
    background: #00af2e10 !important;
    border-color: #8cb38e;
}

/* Label List CSS */

.table-row span {
    cursor: pointer;
    font-size: 16px;
}

.table-row .hover-view {
    display: none;
}

.table-row input {
    width: 100%;
}

.table-row:hover .hover-view {
    display: inline-block;
}

.icon-hover {
    color: #828282;
}

.icon-hover:first-child {
    margin-right: 5px;
}

.icon-hover:last-child {
    margin-left: 5px;
}

.icon-hover:hover {
    color: #ff0000;
}

.expandlist {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

#schoolacronym {
    vertical-align: middle;
}

#labeldetails {
    vertical-align: bottom;
}

/**
 * Tooltip Styles
 */

.info-icon {
    font-size: 1.2em;
    margin-left: 5px;
    color: #1b5d96;
    vertical-align: bottom;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

    /* Hide the tooltip content by default */
    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
    }

    /* Position tooltip above the element */
    [data-tooltip]:before {
        position: absolute;
        bottom: 150%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 160px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: #fff;
        font-weight: 300;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
        position: absolute;
        bottom: 150%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }